# Cool scripts for pandas

To load, subset, etc.

The dataset used as an example is not open and is not published in this repository.

## Import libraries

In [17]:
import pandas as pd
import matplotlib.pyplot as plt

Path to the dataset:

## Load data

In [10]:
%%time
data_path = '..\..\Thesis\Thesis\Data\HHSaleHistory_cleaned_v0.9_GTHA_DA.csv'
data_df = pd.read_csv(data_path)
data_df.drop(["Unnamed: 0", 'index'], axis=1, inplace=True)
print("DataFrame 'data_df' contains {0:,} rows and {1} columns.".format(len(data_df), len(data_df.columns)))

DataFrame 'data_df' contains 6,062,853 rows and 21 columns.
Wall time: 33.1 s

In [11]:
data_df.head()

,registration_date,decade,year,lro_num,pin,consideration_amt,postal_code,province,unitno,street_name,...,street_direction,municipality,street_suffix,street_number,x,y,index_right,da_id,da_city,da_median_tot_inc
0,1805-01-06,180,1805,62,174140492,NaN,NaN,ON,NaN,NaN,...,NaN,Hamilton,NaN,NaN,-79.977420,43.203291,8685,7504,Hamilton,46208.0
1,1856-12-27,185,1856,62,174140490,NaN,NaN,ON,NaN,NaN,...,NaN,Hamilton,NaN,NaN,-79.977832,43.202926,8685,7504,Hamilton,46208.0
2,1861-12-02,186,1861,62,174140491,3300.0,NaN,ON,NaN,NaN,...,NaN,Hamilton,NaN,NaN,-79.977349,43.203006,8685,7504,Hamilton,46208.0
3,1910-12-03,191,1910,62,174140099,200.0,NaN,ON,NaN,Hwy 53 E,...,NaN,Ancaster,NaN,99.0,-79.978293,43.202851,8685,7504,Hamilton,46208.0
4,1955-10-20,195,1955,62,174140094,NaN,L9G2M2,ON,NaN,Anson,...,NaN,Hamilton,NaN,491.0,-79.978124,43.204117,8685,7504,Hamilton,46208.0

## Subset data

There are different ways of subsetting data in pandas, such as:

1. Use **`'.query'`** method of a DataFrame. 

    * It is **fast**.
    
    * However, it **can't be used to reassign values** in a column in the resulting subset _(SettingWithCopyWarning)._

    * At the same time, it **can be used to _crop_ the original DataFrame** into the subset using the `'inplace=True'` parameter
    
    * It allows using the >, <, ==, != logical operators, and cannot (at least, I currently don't know how) scan a string for a pattern


2. Use **boolean masks**. Can be used to reassign values for subset elements.

    * It is **fast**.
    
    * It **can be used to reassing values** in a column using `'.loc[mask, column_name]'`, no _SettingWithCopyWarning_ will be raised, as reassingnment is done in one subsetting operation, rather than `'data[mask][column]'`
    
    * Similar to `'.query'`, it allows using the >, <, ==, != logical operators, and cannot (at least, I currently don't know how) scan a string for a pattern


3. Use **pandas Series methods**, such as **`'.str.match'`** or **`'.str.contains'`**, to construct boolean masks.

    * It represents a **different mechanism of creating a boolean mask**, rather than a different mechanism of subsetting.
    
    * Therefore, it **can be used  to reassign values** as `'.loc[mask, column_name]'`
    
    * It **can be used to match a string pattern**, with ? and * wildcard symbols
    
    * However, it is **slow** compared to the other subsetting methods

### Displaying rows with missing values

In [ ]:
data_df[np.isnan(data_df['consideration_amt'])]

### Using `'.query'` method of the DataFrame

#### Display top 5 rows of the subset

In [23]:
%time data_df.query("municipality == 'Hamilton'").head()

Wall time: 235 ms

,Unnamed: 0,index,registration_date,decade,year,lro_num,pin,consideration_amt,postal_code,province,...,street_direction,municipality,street_suffix,street_number,x,y,index_right,da_id,da_city,da_median_tot_inc
0,0,0,1805-01-06,180,1805,62,174140492,NaN,NaN,ON,...,NaN,Hamilton,NaN,NaN,-79.977420,43.203291,8685,7504,Hamilton,46208.0
1,1,1278,1856-12-27,185,1856,62,174140490,NaN,NaN,ON,...,NaN,Hamilton,NaN,NaN,-79.977832,43.202926,8685,7504,Hamilton,46208.0
2,2,1636,1861-12-02,186,1861,62,174140491,3300.0,NaN,ON,...,NaN,Hamilton,NaN,NaN,-79.977349,43.203006,8685,7504,Hamilton,46208.0
4,4,72033,1955-10-20,195,1955,62,174140094,NaN,L9G2M2,ON,...,NaN,Hamilton,NaN,491.0,-79.978124,43.204117,8685,7504,Hamilton,46208.0
5,5,72568,1955-11-09,195,1955,62,174140046,NaN,L9G2J2,ON,...,NaN,Hamilton,NaN,46.0,-79.980660,43.203787,8685,7504,Hamilton,46208.0

#### Cannot reassign values using `'query'` due to _SettingWithCopyWarning_

In [22]:
data_df.query("municipality == 'Hamilton'")['postal_code'] = 'New_postal_code'

C:\Anaconda\envs\gds\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

#### Can use `'query'` to _crop_ the original DataFrame into the subset

In [24]:
print("Number of rows in 'data_df' prior to querying: {0:,}".format(len(data_df)))
data_df.query('municipality == "Hamilton"', inplace=True)
print("\nNumber of rows in 'data_df' after querying: {0:,}".format(len(data_df)))
data_df.head()

Number of rows in 'data_df' prior to querying: 6,062,853

Number of rows in 'data_df' after querying: 385,469

,Unnamed: 0,index,registration_date,decade,year,lro_num,pin,consideration_amt,postal_code,province,...,street_direction,municipality,street_suffix,street_number,x,y,index_right,da_id,da_city,da_median_tot_inc
0,0,0,1805-01-06,180,1805,62,174140492,NaN,NaN,ON,...,NaN,Hamilton,NaN,NaN,-79.977420,43.203291,8685,7504,Hamilton,46208.0
1,1,1278,1856-12-27,185,1856,62,174140490,NaN,NaN,ON,...,NaN,Hamilton,NaN,NaN,-79.977832,43.202926,8685,7504,Hamilton,46208.0
2,2,1636,1861-12-02,186,1861,62,174140491,3300.0,NaN,ON,...,NaN,Hamilton,NaN,NaN,-79.977349,43.203006,8685,7504,Hamilton,46208.0
4,4,72033,1955-10-20,195,1955,62,174140094,NaN,L9G2M2,ON,...,NaN,Hamilton,NaN,491.0,-79.978124,43.204117,8685,7504,Hamilton,46208.0
5,5,72568,1955-11-09,195,1955,62,174140046,NaN,L9G2J2,ON,...,NaN,Hamilton,NaN,46.0,-79.980660,43.203787,8685,7504,Hamilton,46208.0

Resetting DataFrame to the original size:

In [25]:
%%time
data_path = '..\..\Thesis\Thesis\Data\HHSaleHistory_cleaned_v0.9_GTHA_DA.csv'
data_df = pd.read_csv(data_path)
print("Done!")

Done!
Wall time: 32.9 s

#### Examples of using boolean masks

* This type of subsetting is very fast and can be used to reassign values in the DataFrame using `'data_df.loc[mask, column_name]'`


* However, it requires matching the full string (or at least I don't know right now how to make it check if a string contains a pattern, or use wildcard symbols ? and *)

In [9]:
%time mask = data_df['municipality'] == 'Hamilton' # or data_df['municipality'] is 'Hamilton'
print("Mask returns {0:,} records.".format(sum(mask)))
data_df[mask].head()

Wall time: 431 ms
Mask returns 385,469 records.

,Unnamed: 0,index,registration_date,decade,year,lro_num,pin,consideration_amt,postal_code,province,...,street_direction,municipality,street_suffix,street_number,x,y,index_right,da_id,da_city,da_median_tot_inc
0,0,0,1805-01-06,180,1805,62,174140492,NaN,NaN,ON,...,NaN,Hamilton,NaN,NaN,-79.977420,43.203291,8685,7504,Hamilton,46208.0
1,1,1278,1856-12-27,185,1856,62,174140490,NaN,NaN,ON,...,NaN,Hamilton,NaN,NaN,-79.977832,43.202926,8685,7504,Hamilton,46208.0
2,2,1636,1861-12-02,186,1861,62,174140491,3300.0,NaN,ON,...,NaN,Hamilton,NaN,NaN,-79.977349,43.203006,8685,7504,Hamilton,46208.0
4,4,72033,1955-10-20,195,1955,62,174140094,NaN,L9G2M2,ON,...,NaN,Hamilton,NaN,491.0,-79.978124,43.204117,8685,7504,Hamilton,46208.0
5,5,72568,1955-11-09,195,1955,62,174140046,NaN,L9G2J2,ON,...,NaN,Hamilton,NaN,46.0,-79.980660,43.203787,8685,7504,Hamilton,46208.0

#### Example of using pandas Series method `'.str.match'`

Matches the beginning of the string.

In [10]:
%time mask = data_df['municipality'].str.match('ham', case=False, na=False)
print("Mask returns {0:,} records.".format(sum(mask)))
data_df[mask].head()

Wall time: 4.26 s
Mask returns 385,917 records.

,Unnamed: 0,index,registration_date,decade,year,lro_num,pin,consideration_amt,postal_code,province,...,street_direction,municipality,street_suffix,street_number,x,y,index_right,da_id,da_city,da_median_tot_inc
0,0,0,1805-01-06,180,1805,62,174140492,NaN,NaN,ON,...,NaN,Hamilton,NaN,NaN,-79.977420,43.203291,8685,7504,Hamilton,46208.0
1,1,1278,1856-12-27,185,1856,62,174140490,NaN,NaN,ON,...,NaN,Hamilton,NaN,NaN,-79.977832,43.202926,8685,7504,Hamilton,46208.0
2,2,1636,1861-12-02,186,1861,62,174140491,3300.0,NaN,ON,...,NaN,Hamilton,NaN,NaN,-79.977349,43.203006,8685,7504,Hamilton,46208.0
4,4,72033,1955-10-20,195,1955,62,174140094,NaN,L9G2M2,ON,...,NaN,Hamilton,NaN,491.0,-79.978124,43.204117,8685,7504,Hamilton,46208.0
5,5,72568,1955-11-09,195,1955,62,174140046,NaN,L9G2J2,ON,...,NaN,Hamilton,NaN,46.0,-79.980660,43.203787,8685,7504,Hamilton,46208.0

#### Example of using pandas Series method `'.str.contains'` 

Checks if a string contains this pattern.

In [17]:
%time mask = data_df['municipality'].str.contains('amilto', case=False, na=False)
print("Mask returns {0:,} values.".format(sum(mask)))
data_df[mask].head()

Wall time: 4.87 s
Mask returns 386,998 values.

,Unnamed: 0,index,registration_date,decade,year,lro_num,pin,consideration_amt,postal_code,province,...,street_direction,municipality,street_suffix,street_number,x,y,index_right,da_id,da_city,da_median_tot_inc
0,0,0,1805-01-06,180,1805,62,174140492,NaN,NaN,ON,...,NaN,Hamilton,NaN,NaN,-79.977420,43.203291,8685,7504,Hamilton,46208.0
1,1,1278,1856-12-27,185,1856,62,174140490,NaN,NaN,ON,...,NaN,Hamilton,NaN,NaN,-79.977832,43.202926,8685,7504,Hamilton,46208.0
2,2,1636,1861-12-02,186,1861,62,174140491,3300.0,NaN,ON,...,NaN,Hamilton,NaN,NaN,-79.977349,43.203006,8685,7504,Hamilton,46208.0
4,4,72033,1955-10-20,195,1955,62,174140094,NaN,L9G2M2,ON,...,NaN,Hamilton,NaN,491.0,-79.978124,43.204117,8685,7504,Hamilton,46208.0
5,5,72568,1955-11-09,195,1955,62,174140046,NaN,L9G2J2,ON,...,NaN,Hamilton,NaN,46.0,-79.980660,43.203787,8685,7504,Hamilton,46208.0

## Modify data

### Load dataset with generic tweets

In [4]:
%%time
path = 'data/generic_tweets.txt'
tweets_df = pd.read_csv(path)
print("DataFrame 'tweets_df' with {0} generic tweets was read from file!")

DataFrame 'tweets_df' with {0} generic tweets was read from file!
Wall time: 1.03 s

## Interactive controls via widgets

In [3]:
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

### Load data

In [59]:
%%time
data_path = '..\..\Thesis\Thesis\Data\HHSaleHistory_cleaned_v0.9_GTHA_DA.csv'
data_df = pd.read_csv(data_path)
data_df.drop(["Unnamed: 0", 'index'], axis=1, inplace=True)
print("DataFrame 'data_df' contains {0:,} rows and {1} columns.".format(len(data_df), len(data_df.columns)))

DataFrame 'data_df' contains 6,062,853 rows and 21 columns.
Wall time: 49.3 s

In [60]:
data_df.head()

,registration_date,decade,year,lro_num,pin,consideration_amt,postal_code,province,unitno,street_name,...,street_direction,municipality,street_suffix,street_number,x,y,index_right,da_id,da_city,da_median_tot_inc
0,1805-01-06,180,1805,62,174140492,NaN,NaN,ON,NaN,NaN,...,NaN,Hamilton,NaN,NaN,-79.977420,43.203291,8685,7504,Hamilton,46208.0
1,1856-12-27,185,1856,62,174140490,NaN,NaN,ON,NaN,NaN,...,NaN,Hamilton,NaN,NaN,-79.977832,43.202926,8685,7504,Hamilton,46208.0
2,1861-12-02,186,1861,62,174140491,3300.0,NaN,ON,NaN,NaN,...,NaN,Hamilton,NaN,NaN,-79.977349,43.203006,8685,7504,Hamilton,46208.0
3,1910-12-03,191,1910,62,174140099,200.0,NaN,ON,NaN,Hwy 53 E,...,NaN,Ancaster,NaN,99.0,-79.978293,43.202851,8685,7504,Hamilton,46208.0
4,1955-10-20,195,1955,62,174140094,NaN,L9G2M2,ON,NaN,Anson,...,NaN,Hamilton,NaN,491.0,-79.978124,43.204117,8685,7504,Hamilton,46208.0

### Pivot the table

In [65]:
groupby1 = 'da_city'
groupby2 = 'year'
value_column = 'consideration_amt'
da_city_name = 'Toronto'

data_pivot = data_df_no_outliers.groupby(by=[groupby1, groupby2])[value_column]

In [109]:
@interact
def means_greater_than(greater_than=(0, 5000000, 100000), less_than=(100000, 10000000, 100000)):     # shows municipalities and years with mean price > $5'000'000
    print("Municipalities with: ${0:,} < Mean Annual Price < ${1:,}"
          .format(greater_than, less_than))
    return pd.DataFrame(data_pivot.mean()[(data_pivot.mean() > greater_than) & (data_pivot.mean() < less_than)])

interactive(children=(IntSlider(value=2500000, description='greater_than', max=5000000, step=100000), IntSlide…

### Plot and compare cities

#### Goup values by `'da_city'` and `'year'`

In [71]:
groupby1 = 'da_city'
groupby2 = 'year'
value_column = 'consideration_amt'
da_city_name = 'Toronto'

data_pivot = data_df_no_outliers.groupby(by=[groupby1, groupby2])[value_column]

#### Generate a list of cities

In [94]:
city_list = data_pivot.count().index.get_level_values(0).value_counts().index

#### Make an interactive plot

In [115]:
@interact
def compare_cities(da_city_name1=city_list, da_city_name2=city_list):
    f, axes = plt.subplots(nrows=1, ncols=2, figsize=(12, 6))

    def plot_city(axis, da_city_name):
        
        plt.suptitle("Price comparison between {0} and {1}".format(da_city_name1, da_city_name2))
        data_pivot.median()[da_city_name].plot(ax=axes[axis], color='deeppink', linestyle='--', label='Median price')
        data_pivot.mean()[da_city_name].plot(ax=axes[axis], color='coral', linestyle=':', label='Mean price')
        data_pivot.min()[da_city_name].plot(ax=axes[axis], color='green', linestyle='-', label='Min price')
        data_pivot.max()[da_city_name].plot(ax=axes[axis], color='red', linestyle='-', label='Max price')

        axes[axis].set_title("Showing prices for {0}".format(da_city_name))
        axes[axis].set_ylabel("Price")
        axes[axis].set_yscale('log')
        axes[axis].set_xlabel("Year")
        axes[axis].legend(loc='best')
        
        # get data of x axis for fill_between
        line = axes[axis].lines[0]
        
        axes[axis].fill_between(line.get_xdata(), 
                                data_pivot.min()[da_city_name], 
                                data_pivot.median()[da_city_name],
                                color='green',
                                alpha=0.1)
        
        axes[axis].fill_between(line.get_xdata(), 
                                data_pivot.median()[da_city_name], 
                                data_pivot.mean()[da_city_name],
                                color='yellow',
                                alpha=0.1)
        
        axes[axis].fill_between(line.get_xdata(), 
                                data_pivot.mean()[da_city_name], 
                                data_pivot.max()[da_city_name],
                                color='red',
                                alpha=0.1)
    
    plot_city(0, da_city_name1)
    plot_city(1, da_city_name2)
    
    plt.show()

interactive(children=(Dropdown(description='da_city_name1', options=('Hamilton', 'Toronto', 'Clarington', 'Mis…

## Interactive date selector

### Load data

In [140]:
%%time
data_path = '..\..\Thesis\Thesis\Data\HHSaleHistory_cleaned_v0.9_GTHA_DA.csv'
data_df = pd.read_csv(data_path)
data_df.drop(["Unnamed: 0", 'index'], axis=1, inplace=True)
data_df['registration_date'] = pd.to_datetime(data_df['registration_date'])
print("DataFrame 'data_df' contains {0:,} rows and {1} columns.".format(len(data_df), len(data_df.columns)))

DataFrame 'data_df' contains 6,062,853 rows and 21 columns.
Wall time: 28.4 s

In [141]:
data_df.head()

,registration_date,decade,year,lro_num,pin,consideration_amt,postal_code,province,unitno,street_name,...,street_direction,municipality,street_suffix,street_number,x,y,index_right,da_id,da_city,da_median_tot_inc
0,1805-01-06,180,1805,62,174140492,NaN,NaN,ON,NaN,NaN,...,NaN,Hamilton,NaN,NaN,-79.977420,43.203291,8685,7504,Hamilton,46208.0
1,1856-12-27,185,1856,62,174140490,NaN,NaN,ON,NaN,NaN,...,NaN,Hamilton,NaN,NaN,-79.977832,43.202926,8685,7504,Hamilton,46208.0
2,1861-12-02,186,1861,62,174140491,3300.0,NaN,ON,NaN,NaN,...,NaN,Hamilton,NaN,NaN,-79.977349,43.203006,8685,7504,Hamilton,46208.0
3,1910-12-03,191,1910,62,174140099,200.0,NaN,ON,NaN,Hwy 53 E,...,NaN,Ancaster,NaN,99.0,-79.978293,43.202851,8685,7504,Hamilton,46208.0
4,1955-10-20,195,1955,62,174140094,NaN,L9G2M2,ON,NaN,Anson,...,NaN,Hamilton,NaN,491.0,-79.978124,43.204117,8685,7504,Hamilton,46208.0

### Generate a list of cities

In [142]:
city_list = data_df['da_city'].value_counts().index
city_list

Index(['Toronto', 'Mississauga', 'Brampton', 'Hamilton', 'Markham', 'Vaughan',
       'Oakville', 'Burlington', 'Richmond Hill', 'Oshawa', 'Whitby', 'Milton',
       'Ajax', 'Clarington', 'Pickering', 'Newmarket', 'Caledon',
       'Halton Hills', 'Georgina', 'Aurora', 'Whitchurch-Stouffville', 'King',
       'Scugog', 'East Gwillimbury', 'Uxbridge', 'Brock',
       'Mississaugas of Scugog Island'],
      dtype='object')

### Plot with interactive date range and city selection

In [149]:
def date_subset_plot(city, start_date, end_date):
    mask1 = data_df['da_city'] == city 
    mask2 = data_df['registration_date'] > start_date
    mask3 = data_df['registration_date'] < end_date
    data_df.loc[(mask1 & mask2 & mask3), 'consideration_amt'].plot()
#    data_df_subset.query('(da_city == city) & (registration_date > start_date) & (registration_date < end_date)', 
#                         inplace=True)
#    data_df_subset['consideration_amt'].plot()
        
interact(date_subset_plot,
        city=city_list,
        start_date=widgets.DatePicker(value=pd.to_datetime('2000-01-01')),
        end_date=widgets.DatePicker(value=pd.to_datetime('2001-01-01')))

interactive(children=(Dropdown(description='city', options=('Toronto', 'Mississauga', 'Brampton', 'Hamilton', …

In [109]:
@interact
def means_greater_than(greater_than=(0, 5000000, 100000), less_than=(100000, 10000000, 100000)):     # shows municipalities and years with mean price > $5'000'000
    print("Municipalities with: ${0:,} < Mean Annual Price < ${1:,}"
          .format(greater_than, less_than))
    return pd.DataFrame(data_pivot.mean()[(data_pivot.mean() > greater_than) & (data_pivot.mean() < less_than)])

interactive(children=(IntSlider(value=2500000, description='greater_than', max=5000000, step=100000), IntSlide…